@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #00aeef,
  $secondary: #676778,
  $background: #fafafa,
  $surface: #f3f3f3,
  $error: color-palette.$red-900,
);

/* --- Expose SMUI theme as CSS variables --- */
:root {
  --primary: #{theme.$primary};
  --on-primary: #{theme.$on-primary};
  
  --secondary: #{theme.$secondary};
  --on-secondary: #{theme.$on-secondary};
  
  --background: #{theme.$background};
  --on-background: #000000;

  --surface: #{theme.$surface};
  --on-surface: #000000;
  
  --error: #{theme.$error};
  --link-color: #{color.scale(theme.$primary, $lightness: +20%)};
  --link-visited-color: #{color.scale(theme.$primary, $lightness: -15%)};
}

/* --- Custom application color variables --- */
:root {
  --highlight-bg: #dbdbdb;
  --menu-bg: #e4e4e4;
  --neutral-bg: #e9e9e9;

  --nav-bg: #002533;
  --on-nav-bg: #c4c4c4;
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}
